.charGen {
    position: absolute;
    display: grid;
    place-content: center;    
    
    gap: 2px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
}

.charGen__form {
    font-size: 1rem;
    max-width: 130px;
}

.charGen__form label {
    padding: 10px 0 2px;
    display: block;
    width: 100%;
}

.charGen__form input {
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0);
    width: 100%;
}
.charGen__form input:focus {
    border: 1px solid dodgerblue;
    outline: none;
}
.charGen__form input.required {
    border: 1px solid crimson;
}

.charGen__form option {
    font-size: 1rem;
}

.charGen .DescriptionBox {
    color: #fff;
    justify-content: center;
    text-align: center;

    border-top: 0;
    background: none;
}

.charGen .KeyboardMenu {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: transparent;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.charGen button {
    color: #fff;
    justify-content: center;
    padding: 0;
}