:root {
    --border-color: #291d4d;
    --dialog-background: #fff3b4;

    --menu-background: #051219;
    --menu-border-color: #0b2f53;
    --menu-font-color: #84caff;
    --menu-selected-background: #7fc2ff;
}

* {
    box-sizing: border-box;
    font-family: "Source Code Pro", sans-serif;
}

body {
    background: #020202;
    color: #eee;

    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    width: 25vw;
    height: 25vh;
    margin: 0 auto;
    background: black;

    transform: scale(4);
}

.game-container canvas {
    image-rendering: pixelated;
}