:root {
    --border-color: #291d4d;
    --dialog-background: #fff3b4;

    --menu-background: #051219;
    --menu-border-color: #0b2f53;
    --menu-font-color: rgb(255, 230, 209);
    --menu-font-color-hidden: rgb(255, 230, 209, 0);
    --menu-selected-background: dodgerblue;

    --default-font: "Crimson Pro", sans-serif;

    font-family: var(--default-font);
}

* {
    box-sizing: border-box;
}

body {
    background: rgb(0,16,80);
    background: radial-gradient(circle, rgba(0,16,80,1) 0%, rgba(0,15,33,1) 100%);
    min-height: 100vh;
    color: #eee;

    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    width: 25vw;
    height: 25vh;
    margin: 0 auto;

    transform: scale(4);
}

.game-container canvas {
    image-rendering: pixelated;
}

.game-container .letterbox {
    position: absolute;
    background: black;
    
    left: -1px;
    right: -1px;

    height: 0px;

    transition: height 0.5s ease-out;
}

.game-container.cutscene .letterbox {
    height: 40px;
}
.game-container .letterbox__top {
    top: -1px;
}
.game-container .letterbox__bottom {
    bottom: -1px;
}

.UnifrakturCook {
    font-family: UnifrakturCook, var(--default-font);
}
.cursive {
    font-family: "Edu AU VIC WA NT Hand", var(--default-font);
}

.rufina {
    font-family: "Rufina", var(--default-font);
}
