@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jacquard+24&family=Jersey+10&family=Silkscreen:wght@400;700&display=swap');

:root {
    background: black;
    --border-color: #291d4d;
    --dialog-background: #fff3b4;

    --menu-background: #051219;
    --menu-border-color: #0b2f53;
    --menu-font-color: rgb(255, 230, 209);
    --menu-font-color-enter: rgb(255, 230, 209, 0.4);
    --menu-font-color-hidden: rgb(255, 230, 209, 0);
    --menu-selected-background: dodgerblue;

    --default-font: "Jersey 10", sans-serif;

    --god-color: rgb(180, 120, 70);
    --god-first-bg: tan;
    --god-first-color: #321;

    font-family: var(--default-font);
    font-size: 8px;
}

* {
    box-sizing: border-box;
}

body {
    background: black;
    
    min-height: 100vh;
    color: #eee;

    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    cursor: url('../images/cursor.png'), auto;
}

.game-container {
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    width: 25vw;
    height: 25vh;
    margin: 0 auto;

    transform: scale(4);
}

.game-container canvas {
    image-rendering: pixelated;
    transform: scale(1);
    transition: transform 1s;
    position: relative;
    z-index: -5;

    cursor: none;
}

.game-container canvas.zoom1 {
    transform: scale(1.5);
}
.game-container canvas.zoom2 {
    transform: scale(2);
}
.game-container canvas.zoom3 {
    transform: scale(3);
}
.game-container canvas.zoom4 {
    transform: scale(4);
}

.game-container .letterbox {
    position: absolute;
    background: black;
    
    left: -1px;
    right: -1px;

    height: 0px;

    transition: height 0.5s ease-out;
}

.game-container.cutscene .letterbox {
    height: 41px;
    cursor: none;
}
.game-container .letterbox__top {
    top: -1px;
}
.game-container .letterbox__bottom {
    bottom: -1px;
}

.blackout_skip, .blackout_blind {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;

    background: black;
    cursor: none;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jacquard 24', var(--default-font);
    font-size: 4em;
    color: var(--god-color)
}

.blackout_skip {
    transition: opacity 1s cubic-bezier(0, 0, .8, 1);
}

.blackout_blind {
    transition: opacity 3s 0.5s; 
}

.blackout_skip.show, .blackout_blind.show {
    opacity: 1;
    color: var(--god-color);
}
.blackout_skip.showing {
    opacity: 1;
    transition: opacity 1s cubic-bezier(.6, 0, .73, 1);
    color: var(--god-color)
}

.skipping {
    position: absolute;
    z-index: 10;
    opacity: 0;
}
.skipping.show {
    opacity: 1;
}


/* Dot dot dot... */
.dot { animation: dotDotDot 3s ease infinite; }
.dot + .dot { animation-delay: 0.33s; }
.dot + .dot + .dot { animation-delay: 0.66s; }

@keyframes dotDotDot {
    0%, 66%, 100% { opacity: 0; }
    33% { opacity: 1; }
}
 

/* FONTS */
.pirata {
    font-family: 'Pirata One', var(--default-font);
}
.crimson {
    font-family: "Crimson Pro", var(--default-font);
    font-size: 1em;
}

.rufina {
    font-family: "Rufina", var(--default-font);
}
 
.blackletter {
    font-family: UnifrakturCook, var(--default-font);
}

.exo {
    font-family: 'Exo 2', var(--default-font);
}

.silk {
    font-family: 'Silkscreen', var(--default-font);
}

.jersey {
    font-family: 'Jersey 10', var(--default-font);
}

.jacq {
    font-family: 'Jacquard 24', var(--default-font);
}

.kanit {
    font-family: 'Kanit', var(--default-font);
    text-transform: uppercase;
}

.marcellus {
    font-family: 'Marcellus SC', var(--default-font);
}
.rocker {
    font-family: 'New Rocker', var(--default-font);
}
.salt {
    font-family: 'Rock Salt', var(--default-font);
    font-size: 0.6em;
}
.medieval {
    font-family: 'MedievalSharp', var(--default-font);
}
.blackletter > span:first-of-type {
    display: inline-block;
}
.blackletter > span:first-of-type::first-letter {
    background: var(--god-first-bg);
    color: var(--god-first-color);
    font-size: 1.15em;
    padding: 0 0.1em;
    margin-right: 0.1em;
    border-radius: 1px;
}