.KeyboardMenu {
    border: 1px solid var(--border-color);
    background: var(--menuBackground);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.KeyboardMenu button {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    -webkit-appearance: none;
    border: 1px solid var(--menu-selected-background);
    background: none;
    height: 16px;
    cursor: url('../images/cursorHover.png'), auto;
    font-family: inherit;
    padding: 0;
    padding-left: 1em;
    font-size: 8px;
    border-radius: 4px;

    transition: background 0.1s, color 0.1s;
}

.KeyboardMenu button:focus {
    background: var(--menu-selected-background);
    outline: 0;
}

.KeyboardMenu .option {
    position: relative;
}
.KeyboardMenu .option .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.DescriptionBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--menu-font-color);
    border-top: 1px solid var(--border-color);
    background: var(--menu-background);
    padding: 5px;
}

.DescriptionBox p {
    font-size: 6px;
    margin: 0;
}