.roomTitle {
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: aqua;
    border: 1px solid rgba(255, 255, 255, 0.25);
    font-family: 'Silkscreen', var(--default-font);

    animation: slideIn 10s ease-out forwards;
    pointer-events: none;

    padding: 0.2em 0.4em;
}

@keyframes slideIn {
    0% { 
        transform: translateY(10px);
        opacity: 0;
    }
    20%, 80% { 
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.roomTitle h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

.roomTitle span {
    animation: glitch 3s linear 3 forwards;
}

@keyframes glitch {
    0%, 100% { text-shadow: 0 0 0 black;}
    22% { text-shadow: 0.5px 0.5px 0 rgba(255, 255, 255, 0.5);}
    34% { text-shadow: -0.5px 0.5px 0 rgba(255, 0, 0, 0.75);}
    44% { text-shadow: -0.5px 0.5px 0 rgba(0, 0, 255, 0.75);}
    51% { text-shadow: 0.5px 0.5px 0 rgba(255, 0, 255, 0.75);}
    71% { text-shadow: -0.5px -0.5px 0 rgba(255, 0, 0, 0.75);}
    81% { text-shadow: -0.5px -0.5px 0 rgba(0, 0, 255, 0.75);}
    
}