.textMessage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    
    padding: 4px;
    /* background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color); */
    color: var(--menu-font-color);
}

.textMessage_name {
    position: absolute;
    top: -12px;
    color: white;
    font-size: 8px;
    background: black;
    padding: 0 0.5em;
    margin-left: -0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.textMessage_text {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    font-size: 8px;
}
.textMessage_content span {
    opacity: 0;
    transition: opacity 0.05s;
}
.textMessage .revealed {
    opacity: 1;
}

.textMessage_button {
    margin: 0;
    font-size: 0.6em;
    
    padding: 0;
    -webkit-appearance: none;
    background: none;
    color: var(--menu-font-color-hidden);
    border: 0;
    font-family: inherit;
    cursor: pointer;
    display: block;

    /* position: absolute; */
    /* right: 2px;
    bottom: 2px; */
    transition: color 3s;
}

.textMessage_button.revealed {
    color: var(--menu-font-color-enter);
    /* animation: pulse 1.5s alternate infinite ease-in-out; */
}

@keyframes pulse {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}