.textMessage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    
    /* background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color); */
    color: var(--menu-font-color);
    cursor: url('../images/cursorHover.png'), auto;
}

.textMessage_name {
    position: absolute;
    top: -10px;
    min-height: 12px;
    color: white;
    /* font-size: 1.05rem; */
    background: black;
    padding: 2px 0.5em 0;
    margin-left: -0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.textMessage_text {
    background: black;
    border-top-right-radius: 0.5em;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    height: 100%;
    padding: 4px;
    font-size: 1rem;
}
.textMessage_content span {
    opacity: 0;
    transition: opacity 0.1s;
}

.textMessage_content span.bold {
    color: white;
    font-weight: bold;
}

.textMessage .revealed {
    opacity: 1;
}

.textMessage_button {
    margin: 0;
    font-size: 0.7em;
    
    padding: 0;
    -webkit-appearance: none;
    background: none;
    color: var(--menu-font-color-hidden);
    border: 0;
    display: block;

    cursor: url('../images/cursorHover.png'), auto;
    /* position: absolute; */
    /* right: 2px;
    bottom: 2px; */
    transition: color 1s, transform 1s;
    transform: scaleY(0)
}

.textMessage:hover .textMessage_button {
    transition: color 0.2s, transform 1s;
    color: white;
}

.textMessage_button.revealed {
    color: var(--menu-font-color-enter);
    transform: scaleY(1)
    /* animation: pulse 1.5s alternate infinite ease-in-out; */
}

@keyframes pulse {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}