.TitleScreen {
    position: absolute;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    gap: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(#012, #026);
}

.TitleScreen_logo {
    display: block;
    margin: 0 auto;
    width: 128px;
    image-rendering: pixelated;
}

.TitleScreen_text {
    background-color: #0006;
    box-shadow: 0 0 10px #aafc;
    margin: 0 -20px 10px;
}

.TitleScreen_controls b {
    font-weight: 400;
    color: gold;
}

.TitleScreen h1 {
    text-align: center;
    font-weight: 400;
    font-size: 4em;
    margin: 10px 0 0;


    color: dodgerblue;
    transform: skew(-10deg);
    letter-spacing: 1px;
}

.TitleScreen h1 i {
    font-style: normal;
    animation: flare 3s ease-in-out infinite backwards;
    display: inline-block;
    text-shadow: 1px 1px teal;
}
.TitleScreen h1 i:nth-child(2) { animation-delay: 100ms;}
.TitleScreen h1 i:nth-child(3) { animation-delay: 200ms;}
.TitleScreen h1 i:nth-child(4) { animation-delay: 300ms;}
.TitleScreen h1 i:nth-child(5) { animation-delay: 400ms;}
.TitleScreen h1 i:nth-child(6) { animation-delay: 500ms;}
.TitleScreen h1 i:nth-child(7) { animation-delay: 600ms;}
.TitleScreen h1 i:nth-child(8) { animation-delay: 700ms;}
.TitleScreen h1 i:nth-child(9) { animation-delay: 800ms;}
.TitleScreen h1 i:nth-child(10) { animation-delay: 900ms;}
.TitleScreen h1 i:nth-child(11) { animation-delay: 1000ms;}
.TitleScreen h1 i:nth-child(12) { animation-delay: 1100ms;}

@keyframes flare {
    0% { 
        color: dodgerblue;
        transform: translateY(0);
        text-shadow: 1px 1px teal;
    }
    50% {
        color: aquamarine;
        transform: translateY(-3px);
        text-shadow: 1px 1px lightseagreen;
    }
    100% {
        color: dodgerblue;
        transform: translateY(0);
        text-shadow: 1px 1px teal;
    }
}

.TitleScreen h2 {
    text-align: center;
    font-weight: 400;
    margin: 0 0 10px;
    background-image: linear-gradient(gold, orangered);
    color: transparent;
    background-clip: text;
    transform: skew(-10deg);

    animation: fadeInOut 2s ease-in-out infinite alternate;
}
@keyframes fadeInOut {
    from { opacity: 1;}
    to { opacity: 0.75;}
}

.TitleScreen .KeyboardMenu {
    position: relative;
    width: 100px;
    margin: 0 auto;
    background: transparent;
    border: 0;
}

.TitleScreen button {
    color: #fff;
    justify-content: center;
    background-color: black;
    padding: 0;
}

.TitleScreen button:focus {
    color: black;
}

.TitleScreen .DescriptionBox {
    color: #fff;
    justify-content: center;
    text-align: center;

    border-top: 0;
    background: none;

}

.TitleScreen_controls {
    display: grid;
    justify-content: center;
    gap: 2px;
    font-size: 2rem;
}

.TitleScreen_controls div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    gap: 4px 8px;
    font-size: 0.5em;
}

.TitleScreen_controls div > :first-child {
    justify-self: right;
}